.tui-card{
  margin-bottom: 10px
  padding: 0 10px
  background: #ffffff
  &-header{
    height: 50px
    line-height 50px
    border-bottom-color: $color-border-light
    display: flex
    justify-content: space-between
  }
  &-content{
    .tui-cell{
      padding: 0
    }
  }
}