.tui-card{
  margin: 10px
  padding: 0 10px 10px
  background: #ffffff
  border-color: $color-border-gray
  border-radius: $border-radius
  &-header{
    height: 50px
    line-height 50px
    border-bottom-color: $color-border-gray
    display: flex
    justify-content: space-between
  }
  &-content{
    .tui-cell{
      padding: 0
    }
  }
}