.tui-model
  overflow: hidden;
  position: absolute;
  transform: translateZ(0);  width: 80%;
  top: 50%;
  left: 10%;
  transform: translate3d(0, -50%, 0);
  padding: 10px
  border-radius: $border-radius;
  background-color: #fff;