.tui-tab
  display flex
  justify-content: space-around
  margin: 10px
  border-color $color-primary
  border-radius: $border-radius
  overflow hidden
  &-cell
    width 100%
    height 24px
    line-height 24px
    text-align center
    font-size: $font-size-xs
    color: $color-primary
    &:not(:last-child)
      border-right-color $color-primary
    &_active
      color: $color-white
      background: $color-primary
