.tui-toast
  position: fixed;
  max-width: 80%;
  border-radius: $border-radius;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  box-sizing: border-box;
  padding: 10px;
  font-size: $font-min-size;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%)
  width 80%
  &.middle
    top 50%
  &.bottom
    bottom: 100px;
  &.top
    top: 100px;