/**
 * 弹性布局辅助样式
 * @since 3.0.0
 * @version 1.0.0
 *
 * @markdown
 *
 * # 更新日志
 *
 * ### 2017/03/114
 *   - [bug fix] 修复了 XXX 问题
 *   - [feature] 增加了 YYY 功能
 *   - [improve] 优化了 ZZZ 代码
 *
 *   - [improve] 优化了 mj-cell默认width为0，max-width为100%的样式，更改为width为100%，让其自适应父级宽度
 *   - [improve] 优化了 mj-cell的flex-basis为1
 */

 $ui-flexible = 'tc-flex'
 $global-ui-namespace = 'tc-flex'

.{$ui-flexible} {
  display: flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  &.force {
    display: flex !important
    -webkit-flex-wrap: wrap !important
    flex-wrap: wrap !important
  }
  &.vertical {
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -webkit-flex-direction: column
    flex-direction: column
  }
  &.vertical.reverse {
    -webkit-box-orient: vertical
    -webkit-box-direction: reverse
    -webkit-flex-direction: column-reverse
    flex-direction: column-reverse
  }
  &.horizontal {
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -webkit-flex-direction: row
    flex-direction: row
  }
  &.reverse {
    -webkit-box-orient: horizontal
    -webkit-box-direction: reverse
    -webkit-flex-direction: row-reverse
    flex-direction: row-reverse
  }
  &.justify-start {
    -webkit-box-pack: start
    -webkit-justify-content: flex-start
    justify-content: flex-start
  }
  &.justify-end {
    -webkit-box-pack: end
    -webkit-justify-content: flex-end
    justify-content: flex-end
  }
  &.justify-center {
    -webkit-box-pack: center
    -webkit-justify-content: center
    justify-content: center
  }
  &.justify-between {
    -webkit-box-pack: justify
    -webkit-justify-content: space-between
    justify-content: space-between
  }
  &.justify-around {
    -webkit-justify-content: space-around
    justify-content: space-around
  }
  &.align-start {
    -webkit-box-align: start
    -webkit-align-items: flex-start
    align-items: flex-start
  }
  &.align-end {
    -webkit-box-align: end
    -webkit-align-items: flex-end
    align-items: flex-end
  }
  &.align-center {
    -webkit-box-align: center
    -webkit-align-items: center
    align-items: center
  }
  &.align-stretch {
    -webkit-box-align: stretch
    -webkit-align-items: stretch
    align-items: stretch
  }
  &.align-stretch .{$global-ui-namespace+'cell'} {
    height: auto !important
  }
  &.center {
    -webkit-box-pack: center
    -webkit-justify-content: center
    justify-content: center
    -webkit-box-align: center
    -webkit-align-items: center
    align-items: center
  }

// 下面属于mui-flex的基础上的扩展 结合cell
// cell 默认flex : 1
  & > .{$global-ui-namespace+'cell'} {
    -webkit-box-flex: 1
    -webkit-flex: 1
    flex: 1
    -webkit-flex-basis: 1
    flex-basis: 1
    width: 100%
    display: block
    position: relative
    border-bottom: 0
    
    &.align-self-start {
      -webkit-align-self: flex-start
      align-self: flex-start
    }
    &.align-self-end {
      -webkit-align-self: flex-end
      align-self: flex-end
    }
    &.align-self-center {
      -webkit-align-self: center
      align-self: center
    }
    &.align-self-stretch {
      -webkit-box-align: stretch
      -webkit-align-items: stretch
      align-items: stretch
      height: auto !important
    }
  }
}
  
  
