/* tui Variables*/

/* Transition
-------------------------- */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Colors
-------------------------- */
$color-warning = #F0C34C;
$color-success = #55CD3D;
$color-primary = #007AFF;
$color-danger = #fa5555;

$color-dark = #404040;
$color-sub = #666;
$color-gray = #aaa;
$color-white = #fff

$color-bg-dark = #f2f2f2 // 灰色底
$color-bg-gray = #f8f8f8 // 背景色
$color-bg-white = #fff // 白色背景

$color-border = #666666;
$color-border-dark = #aaaaaa
$color-border-gray = #D0D0D0
$color-border-white = #f7f9fb

$border-radius = 4px;

/* Font
-------------------------- */
$font-size-xl = 18px
$font-size-l = 16px
$font-size-m = 14px
$font-size-s = 14px
$font-size-xs = 12px

/* Mask
-------------------------- */
.tui-mask-bg
  z-index 1000
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,.1)
  &.no-bg
    background: none

/* Block
-------------------------- */
.inline-block {
  display: inline-block;
  vertical-align: middle;
}

/* border
-------------------------- */
.tui-border {
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: 0 0 2Px transform;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .tui-border {
    border: 0.5Px solid transparent;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .tui-border {
    border: 0.333333Px solid transparent;
  }
}
