/* ml-ui Variables*/

/* Transition
-------------------------- */
$all-transition = all .3s cubic-bezier(.645, .045, .355, 1);
$scale-fade-transition = opacity .2s ease-out, transform .2s ease-out;
$fade-transition = opacity .3s cubic-bezier(0.23, 1, 0.32, 1);

.ml-opacity-leave-active {
  opacity: 0
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Colors
-------------------------- */
$color-error = #F0534C;
$color-warning = #F0C34C;
$color-success = #55CD3D;
$color-primary = #007AFF;

$color-danger = #fa5555;
$color-info = #878d99;

// 字体色
$color-dark = #404040;
$color-sub = #666;
$color-gray = #aaa;
$color-white = #fff

// 背景色
$color-bg-dark = #f2f2f2 // 灰色底
$color-bg-gray = #f8f8f8 // 背景色
$color-bg-white = #fff // 白色背景

// 色彩
$color-red = #F0534C // 价格相关、强调突出色
$color-orange = #f0c34c // 次一级强调突出色
$color-green = #55CD3D // 通过与支持的意思
$color-blue = #007AFF // 部分链接文字颜色

// 边框色
$color-border = #666666;
$color-border-dark = #aaaaaa
$color-border-gray = #D0D0D0
$color-border-light = #E7E9EB
$color-border-white = #f7f9fb
$border-radius = 5px;


/* Font
-------------------------- */
$font-size-xl = 18px
$font-size-l = 16px
$font-size-m = 14px
$font-size-s = 14px
$font-size-xs = 12px

/* Mask
-------------------------- */
.tui-mask-bg
  z-index 1000
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,.1)
  &.no-bg
    background: none

/* Block
-------------------------- */
.inline-block {
  display: inline-block;
  vertical-align: middle;
}

/* border
-------------------------- */
.tui-border {
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: 0 0 2Px transform;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .tui-border {
    border: 0.5Px solid transparent;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .tui-border {
    border: 0.333333Px solid transparent;
  }
}
